-params[:key] = "A" if params[:key].nil?
-actors = Actor.all(:name.lt => (params[:key][0]+1).chr, :name.gt => params[:key])

%h1 
	Actors
	(#{actors.count})
%p
	= haml(:actorsAlph, :layout => false)
%h2
	= params[:key]
	(#{actors.length})
-actors.each do |actor|
	%strong 
		%a{:href => "/actor/#{actor.name}", :class =>"toggle_box", :id => "c#{jQ_clean(actor.name)}"} #{actor.name}
	= actor.movies.count
	= actor.movies.count == 1 ? "movie" : "movies"
	%br/
	%div{:id => "#{jQ_clean(actor.name)}", :style => "display: none; font: 14px/16px helvetica; width:400px; margin: auto;-moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #eee; padding: 5px;"}
		Performed in
		-actor.movies.each do |movie|
			%a{:href => "/movie/#{movie.title}"} #{movie.title},
		%br
		%a{:href => "/actor/#{actor.name}"} Full Info
		
%p
	%a{:href => "/addActor"} Add Actor
