- actor = Actor.get(params[:key])
- result = YAML.load(open(URI.escape("http://api.themoviedb.org/2.1/Person.search/en/yaml/"+$API_KEY+'/'+actor.name)).read)[0]
- profile_picture = ''
-unless result['profile'].nil?
	-result['profile'].each do |image|
		-profile_picture = image['image']['url'] if image['image']['size'] == "profile"
-unless profile_picture == ''
	%img{:src => profile_picture}

%h1 
	= actor.name
%h2
	= "#{actor.age} years old" if actor.age != 0 && !actor.age.nil?
%h3
	- actor.movies.each do |movie|
		%a{:href => "/movie/#{movie.title}"} #{movie.title}
		%br/
%p
	%a{:href => "/editActor/#{actor.name}"} Edit Actor
	|
	%a{:href => "/deleteActor/#{actor.name}"} Delete Actor