%h1 
	Edit Movie
- movie = Movie.get(params[:key])
%p
%form{:method => "POST", :action => "/editMovie/#{movie.title}"}
	%table{:align => "center"}
		= text_input("Movie Title", "title", movie.title)
		= text_input("Release Year","release_year", movie.release_year)		
		= text_input("Length (minutes)","length", movie.length.to_s)
		= text_input("Director Name","director_name", movie.director.name.to_s)
		= text_input("MPAA Rating","mpaa_rating", movie.mpaa_rating)
		= textarea_input("Plot Summary", "plot", movie.plot)
		- cast = ""
		- movie.actors.each do |actor|
			- cast << "#{actor.name}, "
		= textarea_input("Cast (comma separated)", "cast", cast)
	%p	
		%input{:type => "submit", :value => "Edit Movie"}