- params[:key]="title" if params[:key].nil?
- movies = Movie.all(:order =>[params[:key].to_sym.asc])
%h1
	Movies
	(#{movies.count})
%p
	List View
	|
	%a{:href => "/posterview/"+params[:key]}Poster View
Sort by 
= params[:key] == "title" ? "Title" : "<a href='/movies/title'>Title</a>"
|
= params[:key] == "release_year" ? "Year Released" : "<a href='/movies/release_year'>Year Released</a>"
|
= params[:key] == "length" ? "Length" : "<a href='/movies/length'>Length</a>"
%br
%br
-movies.each do |movie|
	%strong 
		%a{:href => "/movie/#{movie.title}", :class =>"toggle_box", :id => "c#{jQ_clean(movie.title)}"} #{movie.title}
	= movie.release_year
	\-
	-unless movie.director.nil?
		#{movie.director.name},
	= movie.length
	minutes
	%div{:id => "#{jQ_clean(movie.title)}", :style => "display: none; font: 14px/16px helvetica; width:400px; margin: auto;-moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #eee; padding: 5px;"}
		= movie.plot[0..270] << "..."
		%br
		%strong
			%a{:href => "/movie/#{movie.title}"} Full Info
	%div
			
%h3
	%a{:href => "/addMovie"} Add Movie
	|
	%a{:href => "/addMultipleMovies"} Add Multiple Movies
	
