- movie = Movie.get(params[:key])
%h1
	= movie.title
	-if movie.mpaa_rating != ""
		(#{movie.mpaa_rating})
%h2	
	= movie.release_year
	\-
	-unless movie.director.nil?
		%a{:href => "/director/#{movie.director.name}"} #{movie.director.name}
	= movie.length
	minutes
%p.blocktext{:style => "width: 24em;margin-left: auto; margin-right: auto; text-align: left"}
	= movie.plot
-actors = movie.actors
-unless actors[0].nil?
	%h2
		Actors
		%br
	%h3
		-actors.each do |actor|
			%a{:href => "/actor/#{actor.name}", :class =>"toggle_box", :id => "c#{actor.name.gsub(/[ \.]/,'')}"} #{actor.name}
			%br
			%div{:id => "#{actor.name.gsub(/[ \.]/,'')}", :class => "hideme", :style => "font: 14px/16px helvetica; width:400px; margin: auto;-moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #eee; padding: 5px;"}
				Performed in
				-actor.movies.each do |movie|
					%a{:href => "/movie/#{movie.title}"} #{movie.title},
				%br
				%a{:href => "/actor/#{actor.name}"} Full Info
%p
	%a{:href => "/editMovie/#{movie.title}"} Edit Movie		
	|
	%a{:href => "/deleteMovie/#{movie.title}"} Delete Movie