-movies = Movie.all(:title.like => "%#{params[:searchTerm]}%")
-actors = Actor.all(:name.like => "%#{params[:searchTerm]}%")
-directors = Director.all(:name.like => "%#{params[:searchTerm]}%")
%h2
	Searching for '#{params[:searchTerm]}'
%h4
	-unless movies[0].nil?
		%p Movies
		-movies.each do |movie|
			%a{:href => "/movie/#{movie.title}", :class =>"toggle_box", :id => "c#{jQ_clean(movie.title)}"} #{movie.title}
			%br
			%div{:id => "#{jQ_clean(movie.title)}", :style => "display: none; font: 14px/16px helvetica; width:400px; margin: auto;-moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #eee; padding: 5px;"}
				= movie.plot[0..270] << "..."
				-movie.actors.each do |actor|
					%a{:href => "/actor/#{actor.name}"} #{actor.name}, 
				%br/
				%strong
					%a{:href => "/movie/#{movie.title}"} Full Info
	-unless actors[0].nil?	
		%br
		%p Actors
		-actors.each do |actor|
			%a{:href => "/actor/#{actor.name}", :class =>"toggle_box", :id => "c#{jQ_clean(actor.name)}"} #{actor.name}
			%br/
			%div{:id => "#{jQ_clean(actor.name)}", :style => "display: none; font: 14px/16px helvetica; width:400px; margin: auto;-moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #eee; padding: 5px;"}
				Performed in
				-actor.movies.each do |movie|
					%a{:href => "/movie/#{movie.title}"} #{movie.title},
				%br
				%a{:href => "/actor/#{actor.name}"} Full Info
			
	-unless directors[0].nil?
		%br	
		%p Directors
		-directors.each do |director|
			%a{:href => "/director/#{director.name}", :class =>"toggle_box", :id => "c#{jQ_clean(director.name)}"} #{director.name}
			%br/
			%div{:id => "#{jQ_clean(director.name)}", :style => "display: none; font: 14px/16px helvetica; width:400px; margin: auto;-moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #eee; padding: 5px;"}
				Directed
				-director.movies.each do |movie|
					%a{:href => "/movie/#{movie.title}"} #{movie.title},
				%br
				%a{:href => "/director/#{director.name}"} Full Info
